{{!-- Forum content below  --}}

<div class="column is-5">
        <div class="box content" role= navigation">
            <a class="box-content" href="forum.html"></a>    
        <!--<article class="post">-->
        <h3>General</h3>
        <h5>Find general information about pets.</h5>
        <div class="control">
            <button class="button is-primary">Post</button>
          </div>
        <div class="media">
        <div class="media-content">						
         </div>
        </div>
        <div class="media-content">
        <div class="content">
        </div>
        </div>
       <!--- <div class="media-right">
        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>-->
        </div>
        </div>





        <div class="column is-5">
        <div class="box content">
        <article class="post">
        <h3>Pet Friendly Places.</h3>
        <h5>Find places for you and your four legged friend.</h5>
        <div class="control">
            <button class="button is-primary">Post</button>
          </div>
        <div class="media">
        <div class="media-content">						
        </div>
        </div>
        <!--<div class="media-content">
        <div class="content">
        </div>
        </div>
        <div class="media-right">
        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>-->
        </div>
        </div>




        <div class="column is-5">
        <div class="box content">
        <article class="post">
        <h3>Pet Care.</h3>
        <h5>Keep your pet healthy and happy.</h5>
        <div class="control">
            <button class="button is-primary">Post</button>
          </div>
        <div class="media">
        <div class="media-content">						
        </div>
        </div>
        <div class="media-content">
        <div class="content">
        </div>
        </div>
        <!--<div class="media-right">
        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>-->
        </div>
        </div>



        <div class="column is-5">
        <div class="box content">
        <article class="post">
        <h3>Breed Talk.</h3>
        <h5>Find info on breeds and what breed is best for you.</h5>
        <div class="control">
            <button class="button is-primary">Post</button>
          </div>
        <div class="media">
        <div class="media-content">						
         </div>
        </div>
        <div class="media-content">
        <div class="content">
        </div>
        </div>
       <!-- <div class="media-right">
        <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>-->
        </div>
        </div>

            </div>
        </div>
    </div>
</body>

    

