{{!-- Post content below  --}}


<div class="column is-9">
					<div class="box content">
						<article class="post">
							<h4>What is the best all natural dog/cat food?</h4>
							<div class="media">
								<div class="media-content">
									<input class="input" type="text" placeholder="Text input">
									<div class="control">
										<button class="button is-primary">Post</button>
										
									  </div>
								</div>
								<div class="media-content">
									<div class="content">
										
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
								</div>
							</div>

							


						</article>
						<article class="post">
							<h4>What are the best dog parks in the area?</h4>
							<div class="media">
								<div class="media-content">
									<input class="input" type="text" placeholder="Text input">	
									<div class="control">
										<button class="button is-primary">Post</button>
									  </div>
								</div>
								<div class="media-content">
									<div class="content">
										
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
								</div>
							</div>

						</article>
						<article class="post">
							<h4>What is the best breed for families?</h4>
							<div class="media">
								<div class="media-content">
									<input class="input" type="text" placeholder="Text input">
									<div class="control">
										<button class="button is-primary">Post</button>
									  </div>
								</div>
								<div class="media-content">
									<div class="content">
										
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
								</div>
							</div>

						</article>
						<article class="post">
							<h4>Best vets in the area?</h4>
							<div class="media">
								<div id="topic-form-1" class="media-content">
									<input id="topic-answer" class="input" type="text" placeholder="Text input">
										
									<div class="control">
										<button class="button is-primary" onclick="handleForm();">Post</button>
									</div>
								</div>
								<div class="media-content">
									<div class="content">
										
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
								</div>
							</div>
						
								<!--<div class="media-content">
									<div class="content">
										
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
								</div>
							</div>-->
						</article>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script async type="text/javascript" src="../js/bulma.js"></script>
        <script type="text/javascript" src="../js/topicFormHandler.js"></script>
	</body>

    


